:root {
  --myfont: "Montserrat Alternates", "sans-serif";
  --primary-color: #a00070;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/main.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}