@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --spacing: 1px;
  --color-darkbox: #101010;
  --color-lightbox: #e7e7e7;
  --color-primary: var(--primary-color);
  --default-transition-duration: 0.7s;
}
.font-myfont {
  font-family: var(--myfont);
}

/* Button */
.btn-primary {
  @apply flex relative items-center cursor-pointer gap-10 bg-primary md:text-lg text-sm md:py-15 py-15 md:px-30 px-25 rounded-full text-white;
  span:nth-child(3) {
    clip-path: shape(from 76.09% 56.25%,hline to 0%,vline by -12.5%,hline by 76.09%,line to 41.09% 8.75%,line by 8.91% -8.75%,line by 50% 50%,line by -50% 50%,line by -8.91% -8.75%,line by 35% -35%,close);
    @apply flex bg-white aspect-1/1 h-16 transform translate-x-0 opacity-100 transition-all ease-out;
  }
  span:nth-child(1) {
    clip-path: shape(from 76.09% 56.25%,hline to 0%,vline by -12.5%,hline by 76.09%,line to 41.09% 8.75%,line by 8.91% -8.75%,line by 50% 50%,line by -50% 50%,line by -8.91% -8.75%,line by 35% -35%,close);
    @apply bg-white absolute aspect-1/1 h-16 transform opacity-0 -translate-x-16 transition-all ease-out;
  }
  span:nth-child(2) {
    @apply transform translate-x-0 transition-all ease-out;
  }
  &:hover > span:nth-child(3) {
    @apply transform translate-x-16 opacity-0;
  }
  &:hover > span:nth-child(1) {
    @apply -translate-x-0 opacity-100 delay-200;
  }
  &:hover > span:nth-child(2) {
    @apply transform translate-x-26 delay-100;
  }
}
.btn-secondary {
  @apply flex relative items-center cursor-pointer gap-10 border-2 md:border-3 border-primary md:text-lg text-sm md:py-15 py-15 md:px-30 px-25 rounded-full;
  span:nth-child(3) {
    clip-path: shape(from 76.09% 56.25%,hline to 0%,vline by -12.5%,hline by 76.09%,line to 41.09% 8.75%,line by 8.91% -8.75%,line by 50% 50%,line by -50% 50%,line by -8.91% -8.75%,line by 35% -35%,close);
    @apply flex bg-black dark:bg-white aspect-1/1 h-16 transform translate-x-0 opacity-100 transition-all ease-out;
  }
  span:nth-child(1) {
    clip-path: shape(from 76.09% 56.25%,hline to 0%,vline by -12.5%,hline by 76.09%,line to 41.09% 8.75%,line by 8.91% -8.75%,line by 50% 50%,line by -50% 50%,line by -8.91% -8.75%,line by 35% -35%,close);
    @apply bg-black dark:bg-white absolute aspect-1/1 h-16 transform opacity-0 -translate-x-16 transition-all ease-out;
  }
  span:nth-child(2) {
    @apply transform translate-x-0 transition-all dark:text-white text-black ease-out;
  }
  &:hover > span:nth-child(3) {
    @apply transform translate-x-16 opacity-0;
  }
  &:hover > span:nth-child(1) {
    @apply -translate-x-0 opacity-100 delay-200;
  }
  &:hover > span:nth-child(2) {
    @apply transform translate-x-26 delay-100;
  }
}


/* odometer animation duration control */
.odometer.odometer-auto-theme .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-ribbon-inner {
  transition-duration: 5s !important;
}
.odometer-inside {
  @apply flex;
}


/* Navigation animation */
@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUpFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
nav.animate-show {
  animation: slideDownFadeIn 0.4s forwards;
}
nav.animate-hide {
  animation: slideUpFadeOut 0.4s forwards;
}


/* Swiper slider */
.swiper-slide-active {
  @apply border-3 border-primary/50 transition-all;
}


/* FAQ */
.faq-item.active .faq-answer {
  max-height: 500px;
  padding-top: 10px;
}


/* Nav link active */
.nav-link, .nav-link-mobile {
  @apply after:w-0 hover:after:w-full after:bg-primary after:rounded-full after:h-3 md:after:h-6 lg:after:h-3 relative after:absolute after:bottom-0 md:after:bottom-10 lg:after:bottom-0 after:left-0 after:transition-all
}
.active {
  @apply text-primary after:w-full
}